{% extends 'flatpages/default.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
Announcements
{% endblock title %}

{% block content %}
    <h3>Все объявления</h3>
    <h5>{{ time_now|date:'M d Y' }}</h5>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

<style>
    table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
    }
    table.text td {
    width: 90%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
    }
    td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
    }
 </style>

   <hr>
   {% for announcement in announcements %}
   {% if announcements %}

    <table class = "text">
        <tr>
        <td> <p style="text-align: left;"> <a href = "{% url 'announcement_detail' pk=announcement.id %}"> {{ announcement.title }} </a> ({{ announcement.author }}) </p> </td>
        <!-- <td class="rightcol"><p style="text-align: justify; font-size: 12px"> {{ ... }} </p> </td> -->
        </tr>
    </table>
        <p style="text-align: justify;"> {{ announcement.dateCreation|date:'d.M.Y' }} </p>
        <p style="text-align: justify;"> {{ announcement.text|safe }} </p>
        <p style="text-align: justify; font-size: 12px">
        <hr>
    {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}
    {% endfor %}

   {# Пагинация #}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}