{% extends 'flatpages/default.html' %}

{% load static %}

{% block title %}
Announcement
{% endblock title %}

{% block content %}

<h2>{{ announcement.title }}</h2>
<h4>{{ announcement.dateCreation|date:"M d, Y" }}</h4>
<p style="text-align: justify;"> {{ announcement.text|safe }} </p>

{% if perms.announcement.update_announcement %}
    <a href ="{% url 'announcement_update' pk=announcement.id %}" class ="btn btn-outline-primary btn-sm"> Изменить </a>
{% endif %}
{% if perms.announcement.delete_announcement %}
    <a href="{% url 'announcement_delete' pk=announcement.id %}" class = "btn btn-outline-danger btn-sm"> Удалить </a>
{% endif %}
<hr>

<div class="comment-section">
{% if announcement.response_set.exists %}
    <h3>Комментарии:</h3>
    <ul>
        {% for response in announcement.response_set.all %}
            <li>{{ response.author }} ({{ response.dateCreation|date:"M d, Y H:i" }}):
            {{ response.text }}
            {% if user == announcement.author %}
                {% if not response.accepted %}
                    <a href="{% url 'accept_response' response.id %}" class="btn btn-success btn-sm">Принять</a>
                {% endif %}
                <a href="{% url 'reject_response' response.id %}" class="btn btn-danger btn-sm">Отклонить</a>
            {% endif %}
            {% if user == response.author or user == announcement.author %}
                <a href="{% url 'delete_response' response.id %}" class="btn btn-outline-danger btn-sm">Удалить</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
</div>

<form method="post" action="{% url 'create_response' pk=announcement.pk %}">
    {% csrf_token %}
    {{ response_form.as_p }}
    <button type="submit" class="btn btn-outline-success">Отправить комментарий</button>
</form>


{% endblock content %}